:root {
    --primary-color: #8F0524;
    --secondary-color: #f5f5f5;
    --background-color: #576363;
    --text-color: #333333;
    --accent-color: #8F0524;
    --button-hover-color: #4A0714;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --background-colors: #f5f5f5;
    --highlight-color: #FCC5A8;
    /* New color for navbar text and buttons */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}







nav {
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;

}

nav a:hover {
    background-color: #FCC5A8;
    border: 2px solid #ff9900;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    color: rgb(22, 159, 168);

}

nav .home-link {
    margin-right: auto;

}

nav .a {
    border-bottom: 1px solid white;

}

nav svg {
    fill: var(--text-color);
    border: 1px solid white;
}

#sidebar-active {
    display: none;
}

.open-sidebar-button,
.close-sidebar-button {
    display: none;

}

@media(max-width: 450px) {
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 100px solid white;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--primary-color);




        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
        border-bottom: 1px solid white;
    }

    nav .home-link {
        border-top: 1px solid white;
    }

    .open-sidebar-button,
    .close-sidebar-button {
        padding: 32px;
        display: block;
        padding-top: 37px;
    }

    #sidebar-active:checked~.links-container {
        right: 0;
    }

    #sidebar-active:checked~#overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1.5rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 2px;
}


@media (min-width: 1024px) {
    header {
        padding: 1.5rem 4rem;
    }

    main {
        padding: 2rem 4rem;
    }
}

.nav-logo {
    font-size: 1.8rem;
    color: var(--highlight-color);
    font-weight: bold;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
    align-items: center;
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: var(--highlight-color);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--primary-color);
    box-shadow: 0 4px 6px var(--shadow-color);
    border-radius: 4px;
    z-index: 1000;
    padding: 0.5rem 0;
}

nav ul li:hover .dropdown {
    display: block;
}

nav ul li .dropdown a {
    display: block;
    padding: 0.5rem 1rem;
    white-space: nowrap;
}

nav ul li .dropdown a:hover {
    background-color: var(--button-hover-color);
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1.5rem;
    margin-top: 3rem;
}
















main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.scanner-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 30px;
}

.scanner-container input {
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.scanner-container button {
    padding: 0.75rem;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.scanner-container button:hover {
    background-color: var(--button-hover-color);
}

.result-container {
    padding: 1rem;
    background-color: var(--secondary-color);
    color: black;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 0.75rem;
    text-align: left;
}

th {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

td {
    background-color: #f5f5f5;
}





.slider-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(245, 244, 244, 0.2);
    margin-top: 2rem;
}

.slider-block {
    flex: 1 1 45%;
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.slider-block:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.slider-container h3 {
    color: var(--primary-color);
    font-size: 1.25rem;
    margin-bottom: 1rem;
    text-align: center;
}

.slider-container label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.slider-container input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.slider-container input:focus {
    border-color: var(--primary-color);
    outline: none;
}

.slider-container button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider-container button:hover {
    background-color: var(--button-hover-color);
}

.slider-container>div {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
}

#add-quantity-form {
    display: flex;
    flex-wrap: wrap;
}

#deduct-quantity-form {
    display: flex;
    flex-wrap: wrap;
}


.slider-block {
    display: none;
}
